name: main-ci
on: 
  push:
    branches:
      - 'main'
      - 'ci/**'
jobs:
  test:
    runs-on: macos-12
    outputs:
      buildStatus: ${{ steps.build-status.outputs.status }}
      testStatus: ${{ steps.tests-status.outputs.status }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Build for testing
        run: |
          xcodebuild build-for-testing \
            -project ProductivityFW/ProductivityFW.xcodeproj \
            -scheme CI CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
      - name: Save build status
        id: build-status
        run: echo "::set-output name=status::${{ job.status }}"
      - name: Run CI scheme Tests
        run: |
          xcodebuild test \
            -project ProductivityFW/ProductivityFW.xcodeproj \
            -scheme CI CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO \
            -resultBundlePath results/ResultBundle.xcresult
      - name: Save tests status
        id: tests-status
        run: echo "::set-output name=status::${{ job.status }}"
      - name: Archive tests results
        uses: actions/upload-artifact@v3
        with:
          name: tests-results
          path: results
          retention-days: 1
  parse-coverage-results:
    runs-on: macos-12
    outputs:
      coverage: ${{ steps.save-coverage.outputs.coverage }}
    needs: test
    steps:
      - name: Download tests results
        uses: actions/download-artifact@v3
        with:
          name: tests-results
      - run: xcrun xccov view --report --json ResultBundle.xcresult > resultAsJson.json
      - id: save-coverage
        run: |
          echo ::set-output name=coverage::$(cat resultAsJson.json | jq -r '.lineCoverage' | awk '{printf("%.1f",$1*100)}')
  update-badges:
    runs-on: ubuntu-latest
    needs: [test, parse-coverage-results]
    steps:
      - name: Create build status badge
        uses: schneegans/dynamic-badges-action@v1.4.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: e6b6d639ed2a33d1d08b84237724ebe9
          filename: productivity-app-build-status.json
          label: Build
          message: ${{ needs.test.outputs.buildStatus == 'success' && 'passing' || 'failing' }}
          color: brightgreen
          isError: ${{ needs.test.outputs.buildStatus != 'success' }}
      - name: Create test status badge
        uses: schneegans/dynamic-badges-action@v1.4.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: f766cc76b47b16757b8d724d198ddd52
          filename: productivity-app-test-status.json
          label: Tests
          message: ${{ needs.test.outputs.testStatus == 'success' && 'passing' || 'failing' }}
          color: brightgreen
          isError: ${{ needs.test.outputs.testStatus != 'success' }}
      - name: Create coverage badge
        uses: schneegans/dynamic-badges-action@v1.4.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: 5bea4737aa2970ee369b3116b8f2861d
          filename: productivity-app-coverage.json
          label: Test Coverage
          message: ${{ needs.parse-coverage-results.outputs.coverage }}
          valColorRange: ${{ needs.parse-coverage-results.outputs.coverage }}
          maxColorRange: 100
          minColorRange: 0
